@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
    font-family: "Arial Black";
    height: 2vh;
    text-align: center;
    width: 50vw;
    border:0;
    margin:0;
}

.mainContainer {
    padding: 5vh 5vw;
    height: 88vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: blue;
    font-family: 'Roboto', sans-serif;
    border:0;
}