<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="mainContainer col col-12">
        <h1 class="mainHeader col col-12 text-center text-primary">Bienvenido al programa de gestión de pacientes</h1>
        <br/>
        <p class="chooseOptionMessage col col-12 text-center text-dark font-weight-bold">Elija la opción que desee en la barra de menú</p>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>