<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <!--<header>Iniciar sesión</header>-->
    <div class="mainContainer">
        <form action="#" th:action="@{/dashboard}" th:object="${user}" method="get">
            <div class="form-group">
                <label for="exampleUser">User</label>
                <input type="text" th:field="*{user}"
                       class="form-control"
                       id="exampleUser"
                       aria-describedby="userHelp"
                       placeholder="usuario">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" th:field="*{pass}"
                       class="form-control"
                       id="exampleInputPassword"
                       placeholder="contraseña">
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <footer></footer>
</body>
</html>