<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th>Historia Clinica</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${patient}">
            <td th:text="${patient.history}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.surname}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>


<!--<h1>Paciente añadido</h1></br>-->
<!--<h2>Nombre: </h2><span th:text="${patient.name}"></span>-->
<!--<h2>Apellidos: </h2><span th:text="${patient.surname}"></span>-->
<!--<h2>Nombre de usuario: </h2><span th:text="${patient.username}"></span>-->
<!--<h2>Código de historial: </h2><span th:text="${patient.history}"></span>-->